.fixed-bottom-container {
    position: fixed;
    bottom: var(--status-bar-ht);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column; /* This stacks bar on top of footer */
    z-index: 10; /* Ensure it stays above everything else */
    background-color: #0c0c0c;
}

.loading-bar-container {
    display: flex;
    height: 8px; /* Slightly thicker for visibility */
    gap: 2px;
    width: 100%;
    background: #000; /* Contrast background */
}

.bar-segment {
    flex: 1;
    height: 100%;
    transition: background-color 0.3s ease;
}

@media only screen and (max-width: 600px){
    .fixed-bottom-container {
        position: unset;
    }
}