.sentenceCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    border: 2px solid #333;
    margin-bottom: 8px;
    padding: 12px 15px;
    transition: border-color 0.2s;
}

.sentenceCard:hover {
    border-color: #4f46e5;
}

.sentence-text {
    font-size: 1rem;
    color: #bbb;
}

.SpanishCol{

}
.EnglishCol{

}