
nav {
  width: 100%;
  height: 60px;
  background: #121214;
  border-bottom: 1px solid var(--nav-br);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-inner, .action-bar-inner {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-family: var(--font-mono);
  font-weight: 800;
  color: var(--accent-blue);
  letter-spacing: 2px;
}